#blogs{
    .title{
    text-align: center;
    width: 99%;
    margin: 10px;
    font-size: 1.5em;
  }
  .container-blogs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .blog{
        margin: 10px;
        border: 1px solid black;
        border-radius: 10px;

        img{
            width: 100%;
        }
        .information{
            display: flex;
            width: 100%;
            margin: 10px 10px;
            p{
                margin: 0 10px;
            }
            i{
                color: red;
                margin: 5px;
            }
        }
        #paragraph{
            font-size: 1.5em;
            text-transform: capitalize;
            font-weight: bold;
            margin: 10px;
        }
    }
  }
}
@media screen and (max-width:575px){
    #blogs{
    .container-blogs{
        grid-template-columns: 1fr;
        .blog{
            margin: 30px;
        }
    }
    
}
}
@media screen and (min-width:576px) and (max-width:800px){
    .container-blogs{
        grid-template-columns: 1fr 1fr;
        #third-blog{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}