#Features{
    background-color: white;
    color: black;
    margin:10px;
    h2,h5{
        text-align: center;
        margin:0 10px 10px;
    }
    h5{
        color: #9b8d8d;
        font-size: 1.5em;
        padding-top: 10px;
    }
    h2{
        font-size: 2em;
    }
    .container-features{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 30px;
        .feature{
            margin: 0 10px;
            text-align: center;
            h4{
                text-transform:capitalize;
            }
            P{
                color: #9b8d8d;
            }
            a{
                text-decoration: none;
                color: red;
                transition: 0.4s;
            }
            a:hover{
                color: grey;
            }
            img{
                margin: 10px;
            }
        }
    }
}
@media screen and (max-width:575px) {
    #Features{
        .container-features{
            grid-template-columns: 1fr ;
            margin: 30px;
            .feature{
                border: 1px solid black;
                margin: 10px;
                height: 95%;
                p{
                    margin: 10px;
                }
            }
        }
    }
}
@media screen and (min-width:576px) and (max-width:800px){
#Features{
    .container-features{
        grid-template-columns: 1fr 1fr;
        .feature{
            border: 1px solid black;
            margin:10px;
            height: 95%;
            p{
                margin: 10px;
            }
        }
    }
}
}
